$color-primary: #7ed56fb6;
$color-primary-light: #24b4846c;
$color-primary-dark: #60b42852;
$color-grey-dark: #777;
$color-white: #ffffff;
$color-black: #000; 
$color-grey-light:#f7f7f7f7;
$color-clip-1:green;
$color-clip-2:lime;